<h1>새로운 게시글을 입력할 화면입니다.</h1>
<form action="/posts/create">
    <p>제목</p>
    <input type="text" name="input_title">
    <p>내용</p>
    <input type="text" name="input_content">
    <br>
    <input type="submit" value="등록하기">
    <input type="reset" value="다시입력">
</form>


<br>
<form action="/posts/all_view">
    <input type="submit" value="게시글 목록"></input>
</form>
